{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ ADMIN_SITE_TITLE }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/ainaudi_admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {% if ADMIN_LOGO == 'm5s' %}
        <img src="{% static 'admin/img/m5s_logo.svg' %}" alt="{{ ADMIN_SITE_TITLE }}" style="height: 35px; vertical-align: middle; margin-right: 10px;">
        {% else %}
        <img src="{% static 'admin/img/ainaudi_logo.svg' %}" alt="{{ ADMIN_SITE_TITLE }}" style="height: 35px; vertical-align: middle; margin-right: 10px;">
        {% endif %}
        {{ ADMIN_SITE_TITLE }}
    </a>
</h1>
{% endblock %}

{% block welcome-msg %}
{% if user.is_authenticated %}
<strong>{% firstof user.display_name user.get_short_name user.email %}</strong>
{% endif %}
{% endblock %}
