body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  padding-top: 56px; /* Altezza della navbar */
}

.card {
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.card-header {
  background-color: #007bff;
  color: white;
}

.card-body {
  background-color: white;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.container {
  margin-top: 2rem;
}

.navbar .nav-link.active {
  font-weight: bold;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item button {
  margin-left: auto;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  transition: transform 0.25s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: transform 0.25s ease-in-out;
}

.navbar-toggler-icon::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.navbar-toggler-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
  background-color: rgba(204, 223, 250, 0.55);
  transform: translate(-50%, -50%) rotate(45deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  background-color: rgba(204, 223, 250, 0.55);
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 14px; /* Riduce la dimensione del font */
    white-space: nowrap; /* Evita che il testo vada a capo */
    overflow: hidden; /* Nasconde l'overflow */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione */
  }
}

@media (max-width: 300px) {
  .navbar-brand {
    width: 60%;
  }
  h3.alert {
    font-size: .8em;
  }
}

